:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 850px;
    margin: 1% auto;
    background-color: pink;
    border-radius: 20PX;
    padding: 2%;
  }

  .heading-1 {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading-1 h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
  }

  .heading-1 video {
    width: 100%;
    max-width: 300px;
    height: 45vh;
    margin: 1rem 0;
    border-radius: 20px;
  }

  .text {
    width: 100%;
    max-width: 550px;
  }
 
  .button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4%;
  }

  .button-1 button {
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 9999px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.1s ease;
  }

  .button-1 button:active {
    transform: scale(0.95);
  }

  .back {
    background: red;
  }

  .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.photo-card {
    background: #fff8f2;
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
    text-align: center;
    transition: transform 0.2s ease;
}

.photo-card:hover {
  transform: rotate(-2deg) scale(1.05);
}

.photo img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
}

.photo-card p {
  margin-top: 0.8rem;
  font-family: cursive;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
}