:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 850px;
    margin: 3% auto;
    background-color: pink;
    border-radius: 20PX;
    padding: 3%;
  }

  .heading-1 h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
    margin: 2rem 0 2rem 0;
  }

  .container img {
    max-width: 30%;
    margin: 3rem 0 1rem 0 ;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 20px;
  }

  .box p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
  }

  .box:hover {
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.35);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: pink;
  }

  .button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    margin-top: 4%;
  }

  .button-1 button {
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 9999px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.1s ease;
  }

  .button-1 button:active {
    transform: scale(0.95);
  }

  .gifts {
    background: red;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }